.margin-b20 {
  margin-bottom: 20px;
}

.example{
  border: 1px solid #4C4D4F;
  border-radius: 4px;
  padding: 1.5rem;
}

.green {
  color: #42b883;
}
.bold {
  font-weight: bold;
}

/* 覆盖首页大标题跟logo的样式 */
:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(120deg,
  #3439fe 10%,
  #1ef310);

  --vp-home-hero-image-background-image: linear-gradient(-45deg,
  #b90909 50%,
  #b90909 50%);
  --vp-home-hero-image-filter: blur(50px);
}

/* 覆盖搜索按钮样式 */
.DocSearch-Button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 32px;
  height: 32px;
  border-radius: 4px;
  background: transparent;
  transition: border-color 0.25s;
}
@media (min-width: 768px) {
  .DocSearch-Button {
    justify-content: flex-start;
    border: 1px solid transparent;
    border-radius: 8px;
    padding: 0 10px 0 12px;
    width: 100%;
    height: 40px;
    background-color: var(--vp-c-bg-alt);
  }
}
@media (max-width: 768px) {
  .DocSearch-Button-Keys {
    display: none;
  }
  .VPNavBarHamburger {
    height: 32px !important;
    width: 32px !important;
    border-radius: 4px;
  }
}
.DocSearch-Button:hover {
  background-color: var(--vp-c-bg-alt);
}